.login-form {
    width: 340px;
    margin: 100px auto;
}

.login-form form {
    opacity: 0.75;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
    padding: 30px;
    border-radius: 3px;
}

.login-form .header {
    margin: 0 0 15px;
    color: #f89c2a; /*Change active text color here*/
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}
