.navbar-default {
    background-color: #e8e8e8;
}

.navbar-default .navbar-nav > li > a {
    color: #545454; /*Change active text color here*/
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #f89c2a; /*Change active text color here*/
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.navbar-brand {
    margin: 0 0 15px;
    color: black; /*Change active text color here*/
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 24px;
}
